<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
    {% include 'base/header.html' %}

    <p>Страница смены пароля</p>

    {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% endif %}

    <form action="{% url 'user_profile:change_password' %}" method="post">
        {% csrf_token %}
        <p>Старый пароль: {{ form.old_password }}</p>
        <p>Новый пароль: {{ form.new_password1 }}</p>
        <p>Подтверждение пароля: {{ form.new_password2 }}</p>
        <button type="submit">Изменить пароль</button>
		<input type="hidden" name="next" value="{% url 'user_profile:profile_page' %}"/>
    </form>

    <br>
    <a href="{% url 'user_profile:profile_page' %}">
        <button name="submit">На страницу профиля</button>
    </a>
</body>
</html>