<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start Game</title>
</head>
<body>
    {% include 'base/header.html' %}

    <p>New game page</p>

    <div>
        <form method="get" action="{% url 'game:new_game' %}">
            <p>Выберите банкролл (ваше общее количество денег за этим столом):</p>

            <ul>
                {% for bankroll in bankrolls %}
                    <li>
                        <input type="radio" name="bankroll_for_game" value="{{ bankroll }}">
                        {{ bankroll }}
                    </li>
                {% endfor %}
            </ul>


<!--            <input type="hidden" name="cur_move" value="{{ move }}"/>-->
            <button name="start_new_game">Сесть за стол</button>
        </form>
    </div>
</body>
</html>
