<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password Form</title>
</head>
<body>
    {% include 'base/header.html' %}

    <p>Забыли пароль?</p>
    <p>Введите почту своей учётной записи и мы вышлем туда инструкции по сбросу пароля</p>

    {% if user_error %}
        <p>Пользователь с такой почтой не найден!</p>
    {% endif %}

    <form action="{% url 'new_auth:password_reset' %}" method="post">
        {% csrf_token %}
        <p>Почта: {{ form.email }}</p>

        <button name="submit">Отправить</button>
        <input type="hidden" name="next" value="{% url 'new_auth:homepage' %}"/>
    </form>
</body>
</html>