<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Запрошен сброс пароля</title>
</head>
<body>
    <h2>Сброс пароля:</h2>

    <p>
        Уважаемый {{ user }}.
        Мы получили запрос на сброс пароля вашей учётной записи для этой электронной почты.
        Чтобы начать процесс сброса пароля, нажмите на ссылку ниже.
        Эту ссылку можно использовать только один раз.
        Если ссылку отправляли не вы, то просто проигнорируйте письмо.
    </p>
    <p>
        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">СБРОСИТЬ ПАРОЛЬ</a>
    </p>
    <p>
        С уважением, команда {{ site_name }}.
    </p>
</body>
</html>
